<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <h1>Learn filmmaking from the pros</h1>
  <br />
  <h2>I'm a filmmaker, James.</h2>
  <br />
  <%= link_to 'Learn More', '#', class: 'btn btn-success custom-btn' %>
  <br /><br />
</div>
</div>